@charset "utf-8";
* {margin: 0px;padding: 0px;}


body {
/*font-family: 'Roboto Slab', serif;*/
}

img{
width:100%;
}


.background{
background-image: url("img/background2.jpg");
background-repeat: no-repeat center center;
position: fixed;
width: 100%;
height: 100%;
}






.lenin {
    background-image: url("img/lenin-01.svg");
    background-size: auto;
    position: fixed;
    width: 200px;
    height: 300px;
    bottom: 40px;
    left: 100%;
    margin-left: -220px;
    z-index: 1;
    }



.lenin2 {
    background-image: url("img/lenin-01.svg");
    background-size: auto;
    position: fixed;
    width: 100px;
    height: 150px;
    bottom: 40px;
    left: 100%;
    margin-left: -110px;
    z-index: 1;
    }






.logo{
    background-image: url("img/logoPetrograd-01.svg");
    background-repeat: no-repeat center center;
    background-size: auto;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 300px;
    height: 110px;
    left: 50%;
    margin-top: 0px;
    margin-left: -150px;
    }


.menu{
    background-image: url("img/menu-01.svg");
    background-repeat: no-repeat center center;
    background-size: auto;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 360px;
    height: 31px;
    left: 50%;
    margin-top: 0px;
    margin-left: -180px;
    }

/*
.vegetar{
    background-image: url("img/vegetar.svg");
    background-repeat: no-repeat center center;
    background-size: auto;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 200px;
    height: 30px;
    left: 50%;
    margin-top: 0px;
    margin-left: -100px;
    }
*/







.dish{
    margin-top: 30px;
    margin-bottom: 80px;
    margin-left: 0px;
    border-style: double;
    border-width: thick;
    padding-bottom: 20px;
    text-align: center;
    }


.dishtext{
    margin-top: 30px;
    border-width: thick;
    text-align: center;
    }


.splashimgage{
    background-image: url("img/splash.jpg");
    background-repeat: no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 400px;
    margin-top: 18px;
    border-style:solid;
    border-width:medium;
    }


.table{
    background-image: url("img/table.jpg");
    background-repeat: no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 400px;
    margin-top: 18px;
    border-style:solid;
    border-width:medium;
    }



.map{

    background-repeat: no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 400px;
    margin-top: 18px;
    border-style:solid;
    border-width:medium;
    }



.data_billede{
    border-style:solid;
    border-width:medium;
    margin-top: 15px;
    }



.udsolgt {
    text-decoration: line-through;}

h3 {
    text-decoration: underline;}

.rabatpris{
text-decoration: underline;}





.ret {
height: 450px;
}

@media only screen and (max-width: 500px) {
}










